section.tx-kitt3n-loop {
  position: relative;
}

section.tx-kitt3n-loop input[type="radio"] {
  display: none;
}

section.tx-kitt3n-loop article {
  display: none;
}
section.tx-kitt3n-loop .article-radio:checked + article {
  display: block;
}

section.tx-kitt3n-loop nav label {
  cursor: pointer;
}

/*
 * Tabs
 */

section.tx-kitt3n-loop--tabs .label-radio + label {
  display: block;

  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px #000;
  border-left: solid 1px transparent;

  margin-left: ($grid-gutter-width/2) * -1;
  margin-right: ($grid-gutter-width/2) * -1;
  padding-left: ($grid-gutter-width/2);
  padding-right: ($grid-gutter-width/2);
}
section.tx-kitt3n-loop--tabs .label-radio:checked + label {
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  border-bottom: solid 1px transparent;
  border-left: solid 1px #000;
}

/*
 * Slider
 */

section.tx-kitt3n-loop--slider .label-radio + label {
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: transparent;
}

section.tx-kitt3n-loop--slider .label-radio:checked + label {
  background: green;
}

section.tx-kitt3n-loop--slider nav .slide {
  display: inline-block;
  margin-right: 10px;
}

/*
 * Accordion
 */

section.tx-kitt3n-loop--accordion .nav-label{
  display: block;
  border-bottom: solid 1px #000;
}