<f:if condition="{aElement.header}">
    <h2>{aElement.header -> f:format.raw()}</h2>
</f:if>

<f:if condition="{aElement.subheader}">
    <h3>{aElement.subheader -> f:format.raw()}</h3>
</f:if>

<f:if condition="{aElement.text}">
    <p>{aElement.text -> f:format.raw()}</p>
</f:if>
