<f:if condition="{processedImage -> f:count()} > 0">
    <f:then>
        [{processedImage.0.uid}]
    </f:then>
    <f:else>
        [--]
    </f:else>
</f:if>

<f:debug>{processedImage}</f:debug>
<f:debug>{aElements}</f:debug>
<f:debug>{oElements}</f:debug>